.Rproj.user
.Rhistory
.RData
.Ruserdata
cluster 2.out
cluster.out
dataWide.sav
graveyard.R
multiplex code modelA.R
multiplex code modelB.R
multiplex code.R
multiplex_algo.txt
resultsObjects.RData
resultsObjectsHCP.RData
sienaEffects$c2002.full.html
